* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Custom Styles*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C3F91;
    font-family: sans-serif;
}

.progres {
    background-color: white;
    padding: 1.5rem;
    border-radius: 5px;
    width: 100%;
    max-width: 768px;
    min-width: 320px;
    /* box-shadow: 1px 1px 1px 2px #FF5677 ; */
}

.steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
}

.step {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    position: relative;
    z-index: 2;
}

.step.active {
    border-width: 4px;
    border-color: #FF5677;
    
}

.steps::before {
    content: "";
    background-color: #B958A5;
    position: absolute;
    width: 100%;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);

}

.bar {
    position: absolute;
    width: 0%;
    background-color: #4C3F91;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);

}

.navigations {
    display: flex;
    justify-content: center;
}


.button {
    background-color: #FF5677;
    margin: 2px;
    width: 80px;
    height: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}

.button.disable {
    opacity: .5%;
}